/* Main class */
.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $brand-dark;
  transition: all 0.3s ease;
  display: flex;
  height: 250px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: $brand-light;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 80px;
}


/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 5px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: $brand-light;
  font-size: 14px;
}

.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}
