<div class="footer">

  <!-- Logo -->
  <%# link_to "/", class: "navbar-wagon-brand" do %>
  <%#= image_tag "logo_gold.png" %>
  <%# end %>

  <div class="footer-text">
    <p>
      Prusik Juridisch & Strategisch Advies

      <br>
      Albert Hahnplantsoen 23     |     1017 BM, Amsterdam     |      Tel. +31 655471987     |     j.vandergoes@prusik.nl
      <br>
      <br>
      Algemene voorwaarden
    </p>
  </div>
</div>


