<div class="footer">

  <!-- Logo -->
  <%# link_to "/", class: "navbar-wagon-brand" do %>
  <%#= image_tag "logo_gold.png" %>
  <%# end %>

  <div class="footer-text parent">
    <div class="flex-item">
      <p>
        Prusik Juridisch & Strategisch Advies
      </p>
    </div>
    <div class="flex-item">
      <p>
        Keizersgracht 751     |     1017 EA, Amsterdam     |      Tel. +31 655471987     |     j.vandergoes@prusik.nl
      </p>
    </div>
    <div class="flex-item">
      <a href="algemene_voorwaarden.pdf" target="_blank">
        Algemene voorwaarden
      </a>
    </div>
  </div>
</div>
