<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_gold.png" %>
  <% end %>

  <!-- Right Navigation -->
  <nav class="navbar-wagon-right cl-effect-4 hidden-xs hidden-sm" id="cl-effect-4">

    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-wagon-item navbar-wagon-link">WAAROM</a>

    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-wagon-item navbar-wagon-link">WAT</a>

    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-wagon-item navbar-wagon-link">WIE</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">WAAR</a>

  </nav>
    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-button btn">CONTACT</a>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
