---
layout: boeken
---
<div class="background">

  <!-- BOOK #1 -->
  <div class="box">
    <div class="box-1">
      <div class="box-content">
        <h4>
          Geef ons heden ons dagelijks brood
        </h4>
        <p>
         "Je kunt zien dat de schrijver begaan is met de mensheid. Het gaat over voldoende voedsel op goede wijze voortgebracht, rekening houdend met dieetveranderingen en het waarborgen van voldoende ruimte voor behoud van biodiversiteit."
       </p>
       <p>
        Rudy Rabbinge
        (Hoogleraar landbouw en voedselzekerheid)
      </p>
      <a href="#" class="btn btn-orange"> Klik & bestel </a>
    </div>
    <div class="box-content">
      <%= image_tag("book_prusik2.png")  %>
    </div>
  </div>

  <!-- BOOK #2 -->
  <div class="box">
    <div class="box-2">
      <div class="box-content">
        <h4>
         Door de schoot van Vrouwe Jusitia
       </h4>
       <p>
        De grenzen tussen fantasie en werkelijkheid vervagen als Max door een eigenzinnige leermeester wordt meegenomen op een wonderbaarlijke reis door het lichaam van Vrouwe Justitia. Niets lijkt onmogelijk en gaandeweg wordt Max wegwijs gemaakt in de geheimen van het recht. Slaagt Max uiteindelijk voor de proeve van het meesterschap?
      </p>
      <a href="#" class="btn btn-orange"> Klik & bestel </a>
    </div>
    <div class="box-content">
     <%= image_tag("boek_prusik.png")  %>
   </div>
 </div>
</div>
</div>   <!--  <- this div is for BOX#1 yet looks better nested -->

</div>
