---
title: Prusik
---

<div class="header bg-header">
 <h2>
  Prusik Juridisch & Stategisch Advies is een onafhankelijk adviesbureau dat op eigen wijze
  juridisch advies combineert met strategisch en persoonlijk advies,
  gericht op het creëren en uitbouwen van business.
</h2>
<i class="fa fa-chevron-circle-down chev-styling"></i>
</div>
<a href="#waarom"> </a>
<div class="banner banner-1">
  <h4>
    Creëren en binden, dat is wat Prusik drijft.
  </h4>
  <a name="waarom"></a>
</div>

<!-- Info box #1 - WAAROM PRUSIK? -->

<div class="info info-1 parent-info">
  <div class="flex-info">
    <h3>Waarom Prusik?</h3>
  </div>
  <div class="flex-info">
    <p>
     Creëren en binden, dat is wat Prusik drijft:
   </p>
   <p>
    •   het creëren van business en business concepten. Prusik helpt doelen in kaart te brengen en (juridische) structuren uit te werken die nodig zijn voor het bereiken daarvan;
  </p>
  <p>
    •   het binden (eventueel contractueel indien relevant) maar vooral het verbinden van de partijen die nodig zijn om die doelen te bereiken;
  </p>
</div>
<div class="flex-info">
  <p>
    Pragmatisme en oplossingsgerichtheid staan hierbij voorop, of er nou op projectbasis wordt gewerkt, op basis van vaste trajecten, op urenbasis of welke combinatie daarvan dan ook. Het gaat om de meest efficiënte weg naar het beoogde doel.
  </p>
</div>
<div class="flex-info">
  <p>
   Prusik richt zich daarbij niet louter op (juridische) vakinhoud maar ook –of juist – op de onderliggende ambities en beweegredenen van haar opdrachtgevers. Doelen, ambities en beweegredenen sluiten zo op elkaar aan en dat geeft betere kansen gestelde doelen ook daadwerkelijk te bereiken.
 </p>
</div>
<div class="flex-item chevron">
  <a href="#wat"> <i class="fa fa-chevron-circle-down chev-styling"></i></a>
</div>
</div>
</div>


<!-- Banner 2 -->
<div class="banner banner-2">
  <h4>
    Trusted advisor
  </h4>
  <a name="wat"></a>
</div>

<!-- Info Box #2   -  WAT  -->
<div class="info info-2 parent-info">
  <div class="flex-info">
    <h3>
      Wat
    </h3>
    <p>
      Prusik is een knoop die in de bergsport gebruikt wordt voor zekering en zelfredding. <br>
      Wat ondernemers en klimmers gemeen hebben, is de ambitie gestelde doelen (of dat nou een bergtop of een begroting is) te bereiken en daarbij problemen voor te blijven.
    </p>
  </div>
  <div class="flex-info">
    <p>
     Prusik levert juridisch, strategisch en persoonlijk advies dat erop gericht is doelen te bepalen en om die vervolgens ook daadwerkelijk te bereiken zonder te verzanden in problemen en het steeds weer oplossen daarvan. Dit bespaart tijd, geld en energie.
   </p>
   </div>
   <div class="flex-info">
   <p>
    Prusik speelt in op een toenemende vraag naar geïntegreerd juridisch, strategisch en waar nodig persoonlijk advies en richt zich daarbij vooral op:
  </p>
  <p>
    •   het (uit)bouwen van business en business-concepten;
    <br>
    •   toekomstgerichte vraagstukken. Waar moet het heen, met wie en hoe?
  </p>
</div>
<div class="flex-info">
  <p>
   Vrij van vaste kaders brengt Prusik daarbij ogenschijnlijk losstaande aspecten met elkaar in verbinding, waardoor het speelveld verandert en doelen en risico’s ineens vanuit ander perspectief zichtbaar worden. En dat biedt vaak nieuwe mogelijkheden, althans mogelijkheden die voorheen niet overwogen werden.
   Prusik adviseert nationale en internationale ondernemingen en ondernemers die vooruit willen en daarbij op zoek zijn naar andere – vaak nog onbekende - routes.
 </p>
</div>
<div class="flex-info chevron">
  <a href="#wie"> <i class="fa fa-chevron-circle-down chev-styling"></i></a>
</div>
</div>

<!-- Banner 3 -->
<div class="banner banner-3">
  <h4>
   Advies om de top te bereiken...<br/>...en weer veilig thuis te komen.
 </h4>
</div>


<!-- Info box #3   -   WIE -->
<a name="wie"></a>
<div class="info-3 wie-parent">
  <div class="contact-card">
    <div class="card">
      <div class="card-item">
        <%= image_tag("joris-card-photo.jpg", :class => "contact-image") %>
      </div>

      <div class="contact-bottom">
        <div class="card-item">
          <i class="fa fa-phone"></i>
          <div>
            +31 (0)6 55 471 987
          </div> 
        </div>
      </a>
      <a href="mailto:j.vandergoes@prusik.nl">
        <div class="card-item">
          <i class="fa fa-envelope"></i>
          <div>
            j.vandergoes@prusik.nl
          </div> 
        </div>
      </a>
      <a href="">
        <div class="card-item">
          <i class="fa fa-linkedin"></i>
          <div>
            <a href="https://nl.linkedin.com/in/joris-van-der-goes-0176081" target="_blank">
              Linkedin
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="wie-item">
  <h3>
    Wie
  </h3>
  <p>
   Prusik is een initiatief van mij, Joris van der Goes van Naters.
 </p>
 <div class="wie-item">
  <p>
   Ik ben 25 jaar advocaat geweest bij onder andere De Brauw Blackstone Westbroek, CMS Derks Star Busmann, en Valegis, welk kantoor mede mij hem werd opgericht.
   Verder heb ik een aantal jaren in Berlijn gewerkt als Rechtsanwalt.
 </p>
</div>
<div class="wie-item">
  <p>
    Als advocaat werkte ik in de (internationale) ondernemingsrechtpraktijk en adviseerde vooral partijen die zich bezighielden met het vertalen van techniek naar business, zoals datacenters, bedrijven in de productie, (agro) technologie, ICT en investeerders die in deze sectoren actief waren.
  </p>
</div>
<div class="wie-item">
  <p>
    Om vorm te geven aan geëvolueerde ambities, heb ik in 2015 de advocatuur ingeruild voor een eigen adviesbureau Prusik.  Deze stap heb ik mede gezet om beter werkzaam te kunnen zijn in de food & agribusiness, een sector waar ik mij sterk mee verbonden voel. Daarbij komt nog dat voedselvoorziening (in de ruimste zin van het woord) een onderwerp is waar de komende decennia heel veel aandacht aan besteed zal moeten worden, in de uitdaging de groeiende wereldbevolking van voedsel te kunnen blijven voorzien. Mijn expertise stel ik graag ten dienste van deze uitdaging. Mijn motivatie daartoe heb ik verwoord in het boekje: “Geef ons heden ons dagelijks brood”.
  </p>
  <div class="wie-item">
    <p>
      Wat ik met Prusik nastreef, is een betrokken rol als trusted advisor, die niet alleen werkt vanuit gedegen juridische vakkennis maar ook (en vooral) vanuit onbevangen nieuwsgierigheid en een goed ontwikkeld instinctief richtingsgevoel.
    </p>
  </div>
</div>
</div>
</div>


<!-- Book banner -->
<div class="book">
  <a href="http://www.prusik.nl" id="book-link" target="_blank">
    <div class="book-1">
      <div class="book-left">
        <h4>
          Geef ons heden ons dagelijks brood
        </h4>
        <p>
         "Je kunt zien dat de schrijver begaan is met de mensheid. Het gaat over voldoende voedsel op goede wijze voortgebracht, rekening houdend met dieetveranderingen en het waarborgen van voldoende ruimte voor behoud van biodiversiteit."
       </p>
       <p>
        Rudy Rabbinge
        (Hoogleraar landbouw en voedselzekerheid)
      </p>
    </div>
    <div class="book-right">
      <%= image_tag("book_prusik2.png")  %>
    </div>
  </div>
</a>

<a href="http://www.google.nl" id="book-link" target="_blank">
  <div class="book-2">
    <div class="book-left">
      <h4>
        Door de schoot van Vrouwe Jusitia
      </h4>
      <p>
       De grenzen tussen fantasie en werkelijkheid vervagen als Max door een eigenzinnige leermeester wordt meegenomen op een wonderbaarlijke reis door het lichaam van Vrouwe Justitia. Niets lijkt onmogelijk en gaandeweg wordt Max wegwijs gemaakt in de geheimen van het recht. Slaagt Max uiteindelijk voor de proeve van het meesterschap?
     </p>
   </div>
   <div class="book-right">
    <%= image_tag("boek_prusik.png")  %>
  </div>
</div>
</div>
</a>
<div>


<!-- <form method="POST" action="http://formspree.io/okief_@hotmail.com">
  <input type="email" name="email" placeholder="Your Email">
  <textarea name="message" placeholder="Your message"></textarea>
  <button type="submit">Send</button>
</form>
-->

<!-- White Bottom Wrapper -->
<div class="bottom-wrapper">

</div>


<!-- Contact Form -->
<!-- <div class="contact">
  <div class="contact-parent">
    <section style="margin-top: 5%;">
      <h4>CONTACT</h4>
      <div class="form-actions">
        <form method="POST" class="contact-form" action="https://formspree.io/okief_@hotmail.com">
          <div class="contact-left">
            <input type="text" name="name" placeholder="Naam">
            <input type="email" name="_replyto" placeholder="Email">
            <input type="number" name="number" placeholder="Telefoon">
          </div>
          <textarea name="message" class="contact-bericht" placeholder="Bericht"></textarea>
        </form>
        <button type="submit" class="contact-verstuur" value="Send"> </button>
      </form>
    </div>
  </section>
</div> -->
</div>
<a name="waar"></a>
