---
title: Prusik
---

<div class="header bg-header">

</div>

<div class="banner banner-1">
  Banner 1

</div>

<div class="info info-1">
  <h3>Waarom Prusik?</h3>
  <p>
    Integriteit, discretie en vertrouwen staan hierbij voorop, of er nou op projectbasis wordt gewerkt, op basis van vaste trajecten, op urenbasis of welke combinatie daarvan dan ook. Het gaat om het resultaat en dat is wat Prusik steeds voor ogen heeft.  Het gaat om het resultaat en dat is wat Prusik steeds voor ogen heeft.
  </p>
  <p>
    Prusik richt zich daarbij niet louter op (juridische) vakinhoud maar ook –of juist – op de onderliggende ambities en beweegredenen van haar opdrachtgevers. Doelen, ambities en beweegredenen sluiten zo op elkaar aan en dat geeft betere kansen gestelde doelen ook daadwerkelijk te bereiken.
  </p>
  <p>
    Creëren en binden, dat is wat Prusik drijft. Prusik adviseert over:
  </p>
  <p>
    •   het creëren van business en business concepten. Prusik helpt doelen in kaart te brengen en      (juridische) structuren uit te werken die nodig zijn voor het bereiken daarvan; 
  </p>
  <p>
    •   het binden (eventueel contractueel indien relevant) maar vooral het verbinden van de partijen die      nodig zijn om die doelen te bereiken.
  </p>
  <a href=""> <%= image_tag "chevron.png" %></a>
</div>

<div class="banner banner-2">
  <h4>
    Advies om te top te bereiken...<br/>...en weer veilig thuis te komen.
  </h4>
</div>

<div class="info info-2">
  <h3>
    Wat
  </h3>
  <p>
    Prusik is een knoop die in de bergsport gebruikt wordt voor zekering en zelfredding. Wat ondernemers en klimmers gemeen hebben, is de ambitie gestelde doelen te bereiken en daarbij problemen voor te blijven. Prusik levert juridisch, strategisch en persoonlijk advies dat erop gericht is doelen te bepalen en om die vervolgens ook daadwerkelijk te bereiken zonder vast te lopen in problemen. Prusik speelt in op een toenemende vraag naar geïntegreerd juridisch, strategisch en waar nodig persoonlijk advies.
  </p>

  <p>
    Prusik richt zich daarbij vooral op:
  </p>
  <p>
    •   het (uit)bouwen van business en business-concepten;
 </p>
  <p>
    •   toekomstgerichte vraagstukken. Waar moet het heen, met wie en hoe?
  </p>
  <p>
    Vrij van vaste kaders brengt Prusik daarbij ogenschijnlijk losstaande elementen met elkaar in verband, waardoor het speelveld verandert en doelen en risico’s ineens vanuit ander perspectief zichtbaar worden. En dat biedt vaak nieuwe mogelijkheden. Prusik werkt voor nationale en internationale ondernemingen en voor ondernemers die vooruit willen en daarbij op zoek zijn naar andere – vaak nog onbekende - routes.
  </p>
  <a href=""> <%= image_tag "chevron.png" %></a>
</div>

<div class="banner banner-3">
  <h4>Trusted advisor</h4>
</div>

<div class="info-3">
  <h3>
  Wie
  </h3>
  <p>
    Prusik is een initiatief van Joris van der Goes van Naters.
      </br>
      </br>
    Joris is  25 jaar advocaat geweest bij onder andere De Brauw Blackstone Westbroek, CMS Derks Star Busmann, en Valegis, welk kantoor mede door hem werd opgericht. Joris heeft een aantal jaren in Berlijn gewerkt als Rechtsanwalt.
  </p>
</div>

<div class="book">

</div>

<div class="contact">

</div>
